{% assign catalogue = {{ include.catalogue }} %}
<header class="catalogue-header">
  <h1 class="catalogue-title">{{ page.title | escape }}</h1>
  <p class="catalogue-meta">
    <time datetime="{{ page.year }}">
    </time>
</header>

<div class="catalogue-container">
  {% for item in catalogue.artworks %}
  {% for image in item.images %}
  <div class="catalogue-item">
    <figure>
    <img src="{{ image }}" alt="{{ image }}">
    <figcaption>{{ item.description }}</figcaption>
    </figure>
  </div>
  {% endfor %}
  {% endfor %}
</div>
